.setting-bar {
    position: absolute;
    bottom: 100px;
    right: 50px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}
.setting-bar__user-setting {
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.setting-bar__user-setting span {
    margin-left: 10px;
    font-size: 15px;
}
.setting-bar__user-setting i {
    font-size: 20px;
}
.setting-bar__icons {
    font-size: 20px;
    margin-left: 15px;
}
.setting-bar__icon {
    margin-left: 10px;
}
.setting-bar__user-setting :hover + .fa-sliders{
    color: rgb(255, 255, 255);
}


