@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@500&display=swap');
@import "reset.css";
@import "top-bar.css";
@import "bookmark.css";
@import "setting.css";

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://t1.daumcdn.net/cfile/tistory/99F2D9415E170D2D0A?original");
    width: 100vw;
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    overflow: hidden;
    position: relative;
}



