.top-bar {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.top-bar__header {
    font-size: 41px;
}
.top-bar__Unit {
    font-size: 25px;
}
.top-bar__content {
    /* color: white; */
    font-size: 17.5px;
    color: white;
    margin-top: 15px;
}
.top-bar__tracker{
    color: #ff5500;
}
.top-bar__mb{
    color: rgb(159,164,234);
    margin-left: 25px;
}
.top-bar__minuts {
    color: white;
    margin-left: 25px;
} 
.top-bar__state {
    display: flex;
}
.top-bar__clock {
    font-size: 70px;
    color: white;
    margin-right: 50px;
    position: relative;
    bottom: 20px;
}